<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Airbnb Test Suite" parallel="none">
    <test name="Airbnb Automation">
        <classes>
            <class name="tests.SearchResultTest"/>
            <class name="tests.ExtraFilterTest"/>
        </classes>
    </test>
</suite>
